
.icon-user:before { content: '\e800'; } /* '' */
.icon-globe-alt:before { content: '\e801'; } /* '' */
.icon-skype:before { content: '\e802'; } /* '' */
.icon-attention-filled:before { content: '\e803'; } /* '' */
.icon-flag-filled:before { content: '\e804'; } /* '' */